<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vector.dubbo.dao.mapper.SuccessKilledMapper" >
  <!--<resultMap id="BaseResultMap" type="com.vector.dubbo.dao.model.SuccessKilled" >-->
    <!--<constructor >-->
      <!--<idArg column="seckill_id" jdbcType="BIGINT" javaType="java.lang.Long" />-->
      <!--<idArg column="user_phone" jdbcType="BIGINT" javaType="java.lang.Long" />-->
      <!--<arg column="state" jdbcType="TINYINT" javaType="java.lang.Byte" />-->
      <!--<arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />-->
    <!--</constructor>-->
  <!--</resultMap>-->
  <delete id="deleteByPrimaryKey" parameterType="map" >
    delete from success_killed
    where seckill_id = #{seckillId,jdbcType=BIGINT}
      and user_phone = #{userPhone,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.vector.dubbo.dao.model.SuccessKilled" >
    <selectKey resultType="java.lang.Long" keyProperty="seckillId" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into success_killed (user_phone, state, create_time
      )
    values (#{userPhone,jdbcType=BIGINT}, #{state,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
    <insert id="insertSuccessKilled">
      insert ignore into success_killed(seckill_id, user_phone)
      values (#{id},#{phone})
    </insert>

  <select id="selectByPrimaryKey" resultType="com.vector.dubbo.dao.model.SuccessKilled" parameterType="map" >
    select seckill_id, user_phone, state, create_time
    from success_killed
    where seckill_id = #{seckillId,jdbcType=BIGINT}
      and user_phone = #{userPhone,jdbcType=BIGINT}
  </select>
  <!--<select id="selectAll" resultMap="BaseResultMap" >-->
    <!--select seckill_id, user_phone, state, create_time-->
    <!--from success_killed-->
  <!--</select>-->

  <select id="queryByIdWithSeckill" resultType="com.vector.dubbo.dao.model.SuccessKilled">
    select
    sk.seckill_id,
    sk.user_phone,
    sk.create_time,
    sk.state
    from
    success_killed sk
    where sk.seckill_id = #{seckillId}
  </select>
</mapper>